/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    margin: 0 50px 0 50px;
}

/* header */


header {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    min-height: 80px;
    max-height: 100px;
    width: 100%;
    background-color: black;
    color: white;
}

div>span {
    margin: 0 5px;
}


/* main */
main {
    background-color: aqua;
    max-height: calc(100vh - 200px);
    overflow: auto;
}

main img {
    margin: 0 1px;
    height: 150px;
    width: calc(100% / 7 - 5px);
    position: relative;
}

/* footer */
footer {
    min-height: 80px;
    max-height: 100px;
    background-color: blue;



}