/* reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 1200px;
    margin: 10px auto;

}


/* header */


header {
    display: flex;
    gap: 15px;
    padding-top: 15px;
    justify-content: flex-end;

    min-height: 80px;
    max-height: 100px;
    width: 100%;
    background-color: black;
    color: white;
}

div>span {
    margin: 0 5px;
}


/* main */
main {

    background-color: #000000;
    max-height: calc(100vh - 200px);
    overflow: auto;
}

.centered {
    margin: 0 auto;
    width: 1400px;
    display: flex;
    flex-wrap: wrap;


}

.card {
    width: calc(100% / 7);
    position: relative;
}

.card>img {
    width: 100%;
}

.microphone {
    padding: 3px;
    position: absolute;
    left: 0;
    bottom: 10px;
    background: rgba(255, 0, 0, .5)
}

/* footer */
footer {
    display: flex;
    max-height: 85px;
    text-align: center;
    justify-content: space-between;
    line-height: 2.5;
    background-color: #222222;
    color: white;
}


.fa-chevron-up {
    line-height: 2;
}

.left-footer {
    min-height: 85px;
    max-height: 100%;
    display: flex;
    gap: 10px;
    background-color: #222222;
}

.central-footer {
    min-height: 85px;
    max-height: 100%;
    margin: 0 auto;
    display: flex;
    background-color: #222222;
}

.right-footer {
    min-height: 85px;
    max-height: 100%;
    color: red;
    background-color: #4A4A4A;
}

footer .icons i {
    font-size: 1.5rem;
}


.arrow {
    line-height: 4;
    padding: 10px 10px;
}

.left-footer>* {
    padding: 5px 10px 0 10px;
}

.central-footer>* {
    padding: 5px 10px 0 10px;
}

.right-footer>* {
    padding: 10px 0 10px 0;

}

.right-footer {
    width: 150px;
    line-height: 3.5;
}

.green-logo {
    color: #4BC800;
}